.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80vh; 
}

.formconts {
    margin: 20px;
    width: 40%;
}

.imgdispdiv {
    margin: 20px;
    width: 50%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(scale(0.5));
}

.imgdisplay {
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.textareatitle p,
.imglink p,
.textareadesc p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.textareatitle input,
.imglink input,
.textareadesc textarea {
    width: calc(100% - 12px);
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}

.textareadesc textarea {
    height: 160px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: vertical;
}

button[type='submit'] {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 10px; 
}

.imgdispdiv p{
    word-wrap: break-word;
    overflow-y: auto;
}

.terms{
    color: red;
    text-emphasis: bold;
}