.postscont{
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    columns: 3;
    column-gap: 10px;
    /* padding: 20px; */
    border-radius: 20px;
    width: 98%;  
}

.postinv{
    /* background-color: whitesmoke; */
    margin-bottom: 10px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    width: 100%;
} .postimage{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
} .postdetails h3{
    text-align: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media  screen and (max-width: 1100px) {
    .postscont{
        columns: 2;
    }
}

@media screen and (max-width: 500px) {
    .postscont{
        columns: 1;
    }
}

