.postscont{
    columns: 3;
    column-gap: 15px;
    padding: 20px;
    border-radius: 20px;
    width: 95%;  
}

.postinv{
    break-inside: avoid;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: auto;
} .postimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    word-wrap: break-word;
} .postdetails h3{
    text-align: center;
    margin: 10px;
    word-wrap: break-word;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media  screen and (max-width: 1100px) {
    .postscont{
        columns: 2;
        padding: 20px;
        border-radius: 20px;
        width: 80%;  
    }
    
}

@media screen and (max-width: 768px) {
    .postscont{
        columns: 1;
        padding: 20px;
        border-radius: 20px;
        width: 70%;  
    }
    
}

.editbtn{
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(50, 50, 50);
    background-color: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.deletebtn{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btncont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}