.postscont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    border-radius: 20px;
    width: 90%;  
}

.postinv{
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
} .postimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
} .postdetails h3{
    text-align: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
