.postscont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    border-radius: 20px;
    width: 95%;  
}

.postinv{
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 600px;
} .postimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
} .postdetails h3{
    text-align: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media  screen and (max-width: 1100px) {
    .postscont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        border-radius: 20px;
        width: 80%;  
    }
    
}

@media screen and (max-width: 768px) {
    .postscont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        border-radius: 20px;
        width: 70%;  
    }
    
}

