.postscont{
    columns: 3;
    column-gap: 15px;
    break-inside: avoid;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.postinv{
    background-color: whitesmoke;
    margin: 20px;
    break-inside: avoid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
} .postimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
} .postdetails h3{
    text-align: center;
    margin: 10px;
}

@media  screen and (max-width: 1100px) {
    .postscont{
        padding: 20px;
        columns: 2;
        column-gap: 15px;
        border-radius: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    .postscont{
        padding: 20px;
        border-radius: 20px;
        columns: 1;
        column-gap: 15px;
    }
    
}

