.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchbar{
    width: 40%;
    margin: 20px;
} .searchbar input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
}

.inputshow{
    margin: 40px;
    font-size: 30px;
    font-weight: 600;
    color: red;
} 
.flexcont{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* username lsit  */
.usernames{
    width: 20%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
} .usernames h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 40px;
    color: rgb(71, 71, 71);
} .username {
    border-bottom: 1px solid grey;
    width: 60%;
} .username:hover {
    transform: scale(1.05);
    z-index: 2;
    transition: 300ms;
    cursor: pointer;
}

/* postlist */
.filteredposts{
    width: 80%;
    columns: 3;
    column-gap: 15px;
} .filteredposts h3{
    font-size: 30px;
    font-weight: 500;
    margin: 40px;
}
.post{
    margin-bottom: 10px;
    width: 95%;
    break-inside: avoid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3%;
} .post img{
    width: 100%;
    border-radius: 10px;
} .post:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 300ms;
    cursor: pointer;
} .post p{
    margin: 5px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 15px;
    font-weight: 600;
}