.postscont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    border-radius: 20px;
    width: 90%;  
    margin-top: 60px;
}

.postinv{
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
} .postimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
} .postdetails {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
