.chatcontainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chatwindow {
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .chatmessage {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: 500;
    /* text-align: center; */
    border: solid rgb(185, 185, 185);
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    background-color: rgb(255, 255, 255);
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
  }
  
  button {
    padding: 10px;
    color: red;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  button:hover {
    border-color: red;
    transition: 200ms;
    color: #000000;
  }
  
  .textinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.title{
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 10px;
    border-width: 0px 0px 3px 0px;
    border-radius: 40%;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}

.subtitle{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 10px;
}