.Backbtn {
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    transition: 300ms;
} .Backbtn:hover {
    /* background-color: red; */
    color: rgb(255, 0, 0);
    border: 2px solid black;
    transition: 500ms;
    /* box-shadow:1px 1px 5px 5px rgb(68, 68, 68) */
}

.formcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.form {
    background-color: rgb(255, 255, 255);
    width: 800px;
    text-align: center;
}

.title{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ff0000 0%,
    #004cff 50%,
    hsl(0, 100%, 50%) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
      font-size: 50px;
      font-weight: 700;
      padding: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.msg{
    color: rgb(67, 67, 67);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}  .msg pe {
    color: red;
}

.inputuser{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.inputcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} .inputcont button{
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.message{
    font-size: 20px;
    font-weight: 600;
}