.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links{
    margin: 10px;
}
.loginsignup {
    background-color: black;
    color: red;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
} .loginsignupdiv{
    margin: 10px;
}