.footer{
    bottom: 0;
    background-color:  white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    /* margin-top: 50px; */
}

.linksdiv{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

.linksdiv a{
    margin: 7px;
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
} .linksdiv a:hover{
    color: red;
}
.linksdiv h3{
    margin: 10px;
    padding: 8px;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;
    border: 0px solid red;
    border-width: 0px 0px 4px 0px;
    font-size: 22px;
}

.linksdiv p{
    margin: 10px;
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 600;
}

.linkss{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.linkss img{
    width: 30px;
}