.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    padding: 20px;
    position: fixed;
    width: 98%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.linksdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links{
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: black;
    transition: 100ms;
} .links :hover {
    color: red  ;
    margin: 0px;
    font-size: 25px;
    visibility: visible;
    transition: 100ms;
}

.Backbtn {
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    transition: 300ms;
    text-decoration: none;
} .Backbtn:hover {
    color: rgb(255, 0, 0);
    border: 2px solid black;
    transition: 500ms;
}

.logo{
    width: 10vw;
}